body {
    background-image: url("../img/myy-wall.png");
    background-repeat: repeat;
    background-size: cover;
}

div {
    position: fixed;
    top: 50%;
    left: 50%;
}

.loader {
    border: 15px solid white;
    border-top: 15px solid orange;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}