<!DOCTYPE html>
<html lang="en">

{% load static %}
<link href="{% static 'css/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>M Yasin Y - Blog</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top bar">
    <div class="container">
        <img class="navbar-brand" src="{% static "img/myy-logo.png" %}" alt="Yasin's Logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/blog">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="my-4"><b>B</b><small>LOG</small></h1>

            {% block content %}

            {% endblock %}
        </div>

        <div class="col-md-4">
            <div class="card my-4">
                <h5 class="card-header">Hello World!</h5>
                <div class="card-body">
                    <center>
                        <img src="{% static "img/myy-draw.png" %}" alt="Yasin's Drawing">
                    </center>
                    <hr>
                    <a class="twitter-timeline" data-width=100% data-height="500" data-dnt="true" data-theme="dark" data-link-color="#FAB81E" href="https://twitter.com/myasiny?ref_src=twsrc%5Etfw">Tweets by myasiny13</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">&copy; M Yasin Y</p>
    </div>
</footer>
</body>
</html>
