<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <title>M Yasin Y - Technology Blog</title>
</head>
<body>
    <h1>Posts</h1>

    <div class="col-left">
        {% for post in result %}
            <div class="card">
                <h2><a href={{ post.title.split|join:"%20" }}>{{ post.title }}</a></h2>
                <h5>{{ post.date }}</h5>
                <p class="summary">{{ post.body }}</p>
            </div>
        {% endfor %}
    </div>
</body>

{% endblock %}

</html>