{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% for post in result %}
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">{{ post.title }}</h2>
                <p class="card-text ozet">{{ post.body }}</p>
                <a href="{{ post.id }}" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
                Posted on <b>{{ post.date }}</b>
            </div>
        </div>
    {% endfor %}

    {% if result.has_other_pages %}
        <ul class="pagination justify-content-center">
            {% if result.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ result.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
            {% endif %}

            {% for i in result.paginator.page_range %}
                {% if result.number == i %}
                    <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if result.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ result.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}