<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <title>M Yasin Y - About Me</title>
</head>
<body>
    <h4 style="margin-left: 15px;">
        " Any fool can write code that a computer can understand. Good programmers write code that humans can understand. "
        &emsp;- Martin Fowler
    </h4>

    <div class="col-left">
        <div class="card">
            <h1>Muhammed Yasin Yıldırım</h1>

            <p><b>PERSONAL</b></p>
            <p>-&emsp;Birth Date: April 08, 1995</p>
            <p>-&emsp;Birth Place: Pullman, U.S.A.</p>
            <p>-&emsp;Marital Status: Single</p>
            <p>-&emsp;Military Service: Delayed</p>
            <p>-&emsp;Driver License: B Class</p>

            <p><b>EDUCATION</b></p>
            <p>-&emsp;<i>International University of Sarajevo</i>, Bosnia Herzegovina | 2017</p>
            <p>&emsp;&emsp;Computer Science & Engineering (100% English, Granted Erasmus+)</p>
            <p>-&emsp;<i>Istanbul Sehir University</i>, Turkey | 2013 - 2018</p>
            <p>&emsp;&emsp;Computer Science & Engineering (100% English, Full Scholarship, Prep School Completed)</p>

            <p><b>WORK EXPERIENCES</b></p>
            <p>-&emsp;<i>Turkcell Technology</i>, Turkey | 09.2018 - …</p>
            <p>&emsp;&emsp;Software Developer</p>
            <p>-&emsp;<i>Istanbul Sehir University</i>, Turkey | 07.2018 - 08.2018</p>
            <p>&emsp;&emsp;Research Intern</p>
            <p>-&emsp;<i>Hotel Linkage</i>, Turkey | 10.2016 - 01.2017</p>
            <p>&emsp;&emsp;Software Development Assistant</p>
            <p>-&emsp;<i>Exedra E-Business Solutions</i>, Turkey | 07.2016 - 08.2016</p>
            <p>&emsp;&emsp;Informatics Intern</p>

            <p><b>VOLUNTARY EXPERIENCES</b></p>
            <p>-&emsp;<i>Empatik Staj Okulu</i>, Turkey | 07.2017 - 07.2018</p>
            <p>&emsp;&emsp;Python Lecturer</p>
            <p>-&emsp;<i>IBM</i>, Turkey | 06.2017 - 06.2018</p>
            <p>&emsp;&emsp;Student Ambassador</p>

            <p><b>PROJECTS</b></p>
            <p>-&emsp;Smart Exam Administration System | 2018 </p>
            <p>-&emsp;Sehirian Mobile LMS | 2017</p>

            <p><b>CERTIFICATES</b></p>
            <p>-&emsp;<i>IBM</i>, Turkey | 2017</p>
            <p>&emsp;&emsp;Bluemix: Practitioner Essentials</p>
            <p>-&emsp;<i>Empatik Staj Okulu</i>, Turkey | 2016</p>
            <p>&emsp;&emsp;PL-SQL: Certificate of Participation</p>

            <p><b>COMPUTER SKILLS</b></p>
            <p>-&emsp;Python</p>
            <p>-&emsp;Java</p>
            <p>-&emsp;JavaScript</p>
            <p>-&emsp;C#</p>
            <p>-&emsp;CSS</p>
            <p>-&emsp;HTML</p>
            <p>-&emsp;Matlab</p>
            <p>-&emsp;Microsoft Office</p>

            <p><b>LANGUAGES</b></p>
            <p>-&emsp;Turkish</p>
            <p>-&emsp;English</p>
            <p>-&emsp;German</p>

            <p><b>EXAMS</b></p>
            <p>-&emsp;Foreign Language Exam (English) | 2016</p>
            <p>&emsp;&emsp;72.5 / 100</p>
            <p>-&emsp;International English Language Testing System | 2014</p>
            <p>&emsp;&emsp;6.0 / 9.0</p>

            <p><b>ACTIVITIES</b></p>
            <p>-&emsp;<i>Istanbul Sehir University</i>, Turkey | 2014 – 2016</p>
            <p>&emsp;&emsp;Drama Club (Improvisation)</p>
            <p>-&emsp;<i>Istanbul Sehir University</i>, Turkey | 2014</p>
            <p>&emsp;&emsp;Communication Club (Sehir FM)</p>
            <p>-&emsp;<i>Space Camp Izmir</i>, Turkey | 2008</p>
            <p>&emsp;&emsp;Space Explorers Program</p>
            <p>-&emsp;<i>Tokat Science & Arts Center</i>, Turkey | 2007 - 2008 </p>
            <p>&emsp;&emsp;Special Training Program</p>
            <p>-&emsp;<i>12 Dev Adam Tokat</i>, Turkey | 2005 - 2008</p>
            <p>&emsp;&emsp;Licensed Basketball Player</p>

            <p><b>HOBBIES</b></p>
            <p>-&emsp;Basketball</p>
            <p>-&emsp;Billiard</p>
            <p>-&emsp;Blogging</p>
            <p>-&emsp;Football</p>
            <p>-&emsp;New Technologies</p>
            <p>-&emsp;Video Games</p>
        </div>
    </div>
</body>

{% endblock %}

</html>